<html>
	 <body>
            Latitude: {{ squirrel.latitude  }} <br>
            Longitude: {{ squirrel.longitude  }} <br>
            Unique ID:  {{ squirrel.unique_id  }} <br>
            Shift: {{ squirrel.shift  }} <br>
            Date: {{ squirrel.date  }} <br>
	    Age: {{ squirrel.age }} <br><br>


	    <form  action="{%url 'squirrels:unique' squirrel.unique_id %}"  method="post">
		<label for="{%url 'squirrels:unique' squirrel.unique_id %}"> Update Sighting: </label><br>
   		 {% csrf_token %}
   		 {{ form }}
    		<input type="submit" value="Submit">
 	</form>	

	 </body>
</html>
